[Unit]
Description=Check GitHub for cendhani.com updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Persistent=true
Unit=cendhani-sync.service

[Install]
WantedBy=timers.target
